<?xml version='1.0' encoding='utf-8'?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.fatindeed.contacts"
        version   = "0.0.1">
    <name>Social Contacts</name>
    <description>
        Keep contact's profile updated with social network
    </description>
    <author email="fatindeed@hotmail.com" href="http://www.fatindeed.com/">
        James Zhu
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="org.apache.cordova.contacts" />
</widget>