<view title="'My Contacts'">
  <content has-header="true" has-tabs="true"> Search:
    <div class="list" ng-hide="isLoading">
      <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query" />
      </label>
      <a class="item item-avatar" href="#/contacts/view/{{contact.id}}" ng-repeat="contact in contacts | filter:query">        <img src="{{contact.photoImage}}" />
        <h2>{{contact.displayName}}</h2>
        <p><i class="icon ion-social-googleplus"></i> <i class="icon ion-social-apple"></i> <i class="icon ion-social-windows"></i></p>
      </a></div>
    <h2 class="padding" ng-show="isLoading"> <i class="icon ion-loading-a"></i> Loading contacts... </h2>
  </content>
</view>