<view title="'Contact Detail'">
  <content has-header="true" padding="true">
    <div class="list card">
      <div class="item item-avatar"> <img src="{{contact.photoImage}}" onerror="photoNotFound(this);" />
        <h2>{{contact.displayName}}</h2>
        <p><i class="icon ion-social-googleplus"></i> <i class="icon ion-social-apple"></i> <i class="icon ion-social-windows"></i></p>
      </div>
      <div class="item item-text-wrap"> This is a basic Card with some text. </div>
      <a ng-show="contact.birthday" class="item item-icon-left" href="#"> <i class="icon ion-egg"></i> {{contact.birthday}}</a>
      <a ng-show="contact.phoneNumbers" class="item item-icon-left" href="#"> <i class="icon ion-ios7-telephone"></i> {{contact.phoneNumbers[0]}}</a>
      <a ng-show="contact.addresses" class="item item-icon-left" href="#"> <i class="icon ion-home"></i> {{contact.addresses[0]}}</a>
      <a ng-show="contact.emails" class="item item-icon-left" href="#"> <i class="icon ion-at"></i> {{contact.emails[0]}}</a>
      <a ng-show="contact.organizations" class="item item-icon-left" href="#"> <i class="icon ion-ios7-briefcase"></i> {{contact.organizations[0].title}} @ {{contact.organizations[0].name}}</a>
    </div>
  </content>
</view>